@import url('https://fonts.googleapis.com/css?family=Work+Sans:400&subset=latin-ext');

div {
  font-family: Work Sans, sans-serif;
}

input {
  font-family: Work Sans, sans-serif;
  font-size: 15px;
  border: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
