@import url('https://fonts.googleapis.com/css?family=Work+Sans:400&subset=latin-ext');

div {
  font-family: Work Sans, sans-serif;
}

.app {
  padding-top: 20px;
  margin: 50px auto;
  display: flex;
  width: 800px;
}
