.bill {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;

  .content {
    display: flex;
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .expanded {
    color: #888;
    margin-top: 10px;
  }

  .to-right {
    align-items: flex-end;
  }

  .minor {
    font-size: 13px;
    margin-bottom: 2px;
    color: #888;
  }

  .medium {
    font-size: 16px;
  }

  .large {
    font-size: 18px;
  }
}
