.navigation {
  height: 60px;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  cursor: default;
  background-color: #fff;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;

  img {
    border-radius: 100%;
    width: 40px;
  }
}

.sign-out {
  font-size: 12px;
  color: rgb(29, 17, 17);
  text-transform: uppercase;
  cursor: pointer;
}

.link {
  color: #000;
  text-decoration: none;
}
