.dropdown-selector {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  height: 20px;
  margin: 0 5px;
  padding: 6px 10px;
  color: #000;
  background-color: #eee;

  &:hover {
    background-color: #ddd;
  }

  &-title {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    font-family: Work Sans, sans-serif;
    font-size: 15px;
    border: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
  }

  input:focus {
    outline: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #888;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #888;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
      color: #888;
  }

  .dropdown {
    overflow: hidden;
    position: absolute;
    left: -220px;
    top: 0;
    width: 210px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 3;
    // border: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }

  .options {
    border-top: 1px solid #eee;
  }
}
