.app {
  padding-top: 20px;
  margin: 50px auto;
  width: 800px;
  flex: 1;
}

.wrapper {
  display: flex;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.groups-box {
  display: flex;
  flex-direction: column;
}

.group-name {
  margin-right: 100px;
}

.group-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.join-link {
  color: #000;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #000;
}

.button {
  margin: 14px 0 0 60px;
}
