.text-suggestion {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #000;
  font-size: 15px;

  &:hover {
    background-color: #f5f5f5;
  }
}

.no-hover {
  color: #888;
  cursor: default;
}

.no-hover:hover {
  background-color: #fff;
}
